*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.searchcnt {
    display: grid;
    place-items: center;
    
}

.searchbox {
    display: flex;
    flex-direction: row;
    width: 500px;
}

.input {
    background-color: whitesmoke;
}